select{-webkit-appearance: none;}
select:hover{-webkit-appearance: menulist-button;}
label, .gender{
	margin-top: 7px;
}
tr td{
  padding-top: 10px ! important;
}
.center-block {float: none !important}
body{
  background-color: #eee;
  padding-bottom: 4%;
}

hr{
  margin: 0 0 4% 0;
  border-top: 2px solid lightgrey;
}
.card{
  border-radius: 6px;
  padding: 2% 3% 2% 3%;
  background-color: #fff;
  margin-top: 2.5%;  
  position: relative;  
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.table-responsive{
  overflow-x: visible ! important;
}
.search-bar{
  margin-bottom: 30px;
}
.input-group{
  margin-bottom: 30px;
}
#showErrorSearch, #showErrorAdd, #showSuccessAdd{
  display: none;
}
